<div class="splash" *ngIf="splash">

</div>

<ion-content scrollY="false">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-img style="margin-top:15vw" src="assets/imgs/logo-moon.png"></ion-img>
      <ion-col size="12" text-center>
        <ion-text color="light" style="font-size:10vw">
          <strong>MOON</strong>TRAVEL
        </ion-text>
      </ion-col>
      <ion-col size="12" text-center>
        <ion-text color="light" style="font-size:5vw">
          <i>CANCÚN</i>
        </ion-text>
      </ion-col>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h4 style="color:white">Ingresar como: </h4>
        </div>
        <div padding text-center style="margin-bottom:35vw">
          <ion-button color = "light" (click)="irARegister()" navigateDirection="forward">
            <ion-text color="medium">
              Invitado
            </ion-text>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
