<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hotel-selection">
      <ion-icon src="assets/iconos/resort.svg"></ion-icon>
      <ion-label>Hotel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="excursiones">
      <ion-icon src="assets/iconos/running-man.svg"></ion-icon>
      <ion-label>Excursiones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fiestas">
      <ion-icon src="assets/iconos/confetti.svg"></ion-icon>
      <ion-label>Temáticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto">
      <ion-icon src="assets/iconos/contact.svg"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
