<ion-header>
  <ion-toolbar>
    <img src="assets/imgs/logo-moon.png" style="text-align: center;" height="40vw"/>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" style="position: absolute">
        <ion-icon style="font-size:12vw;" color="light" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <div class="row">
    <div class="col-12">
      <div class="moon-title-primary">
        <strong>OAS</strong>IS
      </div>
    </div>
  </div>

  <div class="linea-divisoria" style="width:90%; margin-left: 5%">
  </div>
  <br>
  <div class="row-custom">
    <div class="texto-banner-separador">
      ACTIVIDADES
    </div>
  </div>
  <br>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <video poster="assets/imgs/logo-login.png" width="100%" src="assets/videos/big_buck_bunny.mp4" controls>
        </video>
      </ion-col>
      <ion-col size="12">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/flow-rider-actividad.jpg">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/golf-actividad.jpeg">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/tennis-actividad.jpeg">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/kayak-actividad.jpg">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/windsurf-actividad.jpg">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/volley-actividad.jpeg">
            <!-- end row -->
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, velit ut scelerisque vulputate, magna odio mollis arcu, a aliquet eros risus a neque. Mauris sodales velit sed dolor pretium, a ultricies enim sollicitudin. Nulla
            laoreet aliquam nisl at pulvinar. Nullam sodales eros leo.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <div class="row-custom">
    <div class="texto-banner-separador">
      CUARTOS
    </div>
  </div>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <video poster="assets/imgs/logo-login.png" width="100%" src="assets/videos/big_buck_bunny.mp4" controls>
        </video>
      </ion-col>
      <ion-col size="12">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/cuarto1.jpeg">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/cuarto2.jpeg">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/cuarto3.jpg">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/cuarto4.jpg">
            <!-- end row -->
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, velit ut scelerisque vulputate, magna odio mollis arcu, a aliquet eros risus a neque. Mauris sodales velit sed dolor pretium, a ultricies enim sollicitudin. Nulla
            laoreet aliquam nisl at pulvinar. Nullam sodales eros leo.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <div class="row-custom">
    <div class="texto-banner-separador">
      RESTAURANT
    </div>
  </div>
  <br>
  <ion-grid>
    <ion-row>

      <ion-col size="12">
        <video poster="assets/imgs/logo-login.png" width="100%" src="assets/videos/big_buck_bunny.mp4" controls>
        </video>
      </ion-col>
      <ion-col size="12">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/moon palace arrecifes.PNG">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/moon palace bugambilias.jpg">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/moon palace los caporales.PNG">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/moon palace manglar.PNG">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/moon palace mobile munchies.PNG">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/moon palace momo.PNG">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/moon palace palapa pelicanos.PNG">
            <!-- end row -->
          </ion-slide>
          <ion-slide>
            <img class="img-custom" src="assets/imgs/hotel/moon palace pepes pizza.PNG">
            <!-- end row -->
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum, velit ut scelerisque vulputate, magna odio mollis arcu, a aliquet eros risus a neque. Mauris sodales velit sed dolor pretium, a ultricies enim sollicitudin. Nulla
            laoreet aliquam nisl at pulvinar. Nullam sodales eros leo.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br><br>

  <ion-row align-items-center justify-content-center>
    <ion-col size="6">
      <div class="boton-grande-redondo custom-boton" routerLink="/tabs/contacto">
        <div class="boton-texto">
          Reserva tu viaje
        </div>
      </div>
    </ion-col>
  </ion-row>
  <br><br>
  <ion-row align-items-center justify-content-center>
    <ion-col size="12" text-center>
      <ion-text color="azul-oscuro" style="font-weight: lighter !important; letter-spacing: 300">
        Buscanos en:
      </ion-text>
    </ion-col>
    <ion-col size="4">
      <ion-img style="width:10vw;float:left" src="assets/imgs/instagram-logo.png" (click)="browser.openUrlPlugin('instagram')"></ion-img>
      <ion-img style="width:10vw;float:right" src="assets/imgs/facebook-logo.png" (click)="browser.openUrlPlugin('facebook')"></ion-img>
    </ion-col>
  </ion-row>
  <br><br>

</ion-content>
