ion-img{

}

.imagen-chica{

}

.open-close-container {
 border: 1px solid #dddddd;
 margin-top: 1em;
 padding: 20px 20px 0px 20px;
 color: #000000;
 font-weight: bold;
 font-size: 20px;
}

.imagen-grande{
  width: auto;
  height:40vw;
  text-align: center;
}

.input-container{
  padding-left: 10vw;
  padding-right: 15vw;
}

ion-item{
  padding:0 !important;
}

.google-button{
  color: #ea4335;
}

.facebook-button{
  color: #3b5998;
}

.button-container{
  padding-left: 13vw;
  padding-right: 13vw;
}
